.body {
    -fx-background-color: linear-gradient(to bottom, #f4fdf7, #dff8ec);
}

.topBtn {
    -fx-background-color: #2a7f3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.topBtn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 6, 0, 0, 3);
}

.logOutBtn{
-fx-background-color: #FF7F7F;
}
.logoText {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a7f3c;
}
.filterBtn {
    -fx-background-radius: 15;
    -fx-font-size: 14px;
}
.checkbox space{
    -fx-background-color:white;
    -fx-text-fill: white;
}

/* Save Button */
.add-btn {
    -fx-background-color: #2a7f3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.add-btn:hover {
    -fx-background-color: #256b34;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.text-field{
     -fx-padding: 20;
}

.datePicker {
    -fx-background-radius: 8;
    -fx-font-size: 14px;
}

.headerLabel{
-fx-font-size: 15px;
}

.actionBtn {
    -fx-cursor: hand;
    -fx-opacity: 0.4;
}

.actionBtn:hover{
    -fx-opacity: 1.0;
}

.edit-icon {
    -fx-fill: #4A90E2;
}
.delete-icon {
    -fx-fill: #DC143C;
}


