.main-background{
    -fx-background-color:  linear-gradient(to bottom, #f0ffe1, #c4f0b2);
    -fx-padding: 30px;
}
.topText{
-fx-font-family: "Fira Code";
}
.startedBtn{
    -fx-font-size: 16px;
    -fx-background-color: #2a7f3c;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
}
.startedBtn:hover{
    -fx-background-color: #256b34;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
